<a href="https://colab.research.google.com/github/pkor725/Autolib-car-hire-services/blob/master/Copy_of_Moringa_Data_Science_Prep_W4_Independent_Project_2019_11_Gideon_k_Cheruiyot_DataReport.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# importing python libarary

import pandas as pd 

import numpy as np

In [0]:
#loading our dataset

Autolib_datset = 'http://bit.ly/Autolibdataseturl' 
A_df = pd.read_csv('/content/Autolib_dataset (2).csv')

#Previewing our dataset

A_df .head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [0]:
#Dropping irrelevant columns from the dataset

A_df .drop(columns = ['Address','Cars','Charge Slots', 'Charging Status', 'Displayed comment', 'Geo point', 'Scheduled at', 'Slots', 'Station type', 'Status', 'Subscription status','Rental status','Station type'], axis = 1, inplace =True)
A_df .head()

   Bluecar counter  Utilib counter  Utilib 1.4 counter  ... day hour minute
0                0               0                   0  ...   8   11     43
1                6               0                   0  ...   6    7     24
2                3               0                   2  ...   3   20     14
3                3               1                   0  ...   4    4     37
4                3               0                   0  ...   8   17     23

[5 rows x 13 columns]

In [0]:
#Merging dates  column

A_df ['Date'] =  A_df['day'].map(str) + '/' + A_df['month'].map(str) + '/' + A_df['year'].map(str)

#converting date into a standard format

A_df['Date'] = pd.to_datetime(A_df['Date'])

#add datetime colunm in the standard format

A_df['datetime'] = A_df['day'].map(str) + '/' + A_df['month'].map(str) + '/' + A_df['year'].map(str) + ' ' + A_df['hour'].map(str) + ':' + A_df['minute'].map(str) 
#add datetime colunm in the standard format

A_df['datetime'] = pd.to_datetime(A_df['datetime'])
A_df

      Bluecar counter  Utilib counter  ...       Date            datetime
0                   0               0  ... 2018-08-04 2018-08-04 11:43:00
1                   6               0  ... 2018-06-04 2018-06-04 07:24:00
2                   3               0  ... 2018-03-04 2018-03-04 20:14:00
3                   3               1  ... 2018-04-04 2018-04-04 04:37:00
4                   3               0  ... 2018-08-04 2018-08-04 17:23:00
...               ...             ...  ...        ...                 ...
4995                2               0  ... 2018-06-04 2018-06-04 11:26:00
4996                4               0  ... 2018-04-04 2018-04-04 16:56:00
4997                1               0  ... 2018-01-04 2018-01-04 07:01:00
4998                2               0  ... 2018-04-04 2018-04-04 17:27:00
4999                4               0  ... 2018-08-04 2018-08-04 10:02:00

[5000 rows x 15 columns]

In [0]:
#Dropping null values
A_df.dropna()

      Bluecar counter  Utilib counter  ...       Date            datetime
0                   0               0  ... 2018-08-04 2018-08-04 11:43:00
1                   6               0  ... 2018-06-04 2018-06-04 07:24:00
2                   3               0  ... 2018-03-04 2018-03-04 20:14:00
3                   3               1  ... 2018-04-04 2018-04-04 04:37:00
4                   3               0  ... 2018-08-04 2018-08-04 17:23:00
...               ...             ...  ...        ...                 ...
4995                2               0  ... 2018-06-04 2018-06-04 11:26:00
4996                4               0  ... 2018-04-04 2018-04-04 16:56:00
4997                1               0  ... 2018-01-04 2018-01-04 07:01:00
4998                2               0  ... 2018-04-04 2018-04-04 17:27:00
4999                4               0  ... 2018-08-04 2018-08-04 10:02:00

[5000 rows x 15 columns]

In [314]:
#Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018
# #filtering out other cities to just have paris City alone ordered by datetime.

a_df= A_df[(A_df['Kind'] == "STATION")]
a_df[(a_df['City'] == "Paris")].groupby(['ID', 'Bluecar counter']).first().sort_values(by = 'datetime')

                                           Utilib counter  ...            datetime
ID                        Bluecar counter                  ...
paris-monge-112           0                             0  ... 2018-01-04 00:00:00
paris-sebastienmercier-44 0                             0  ... 2018-01-04 00:02:00
paris-mozart-2            1                             0  ... 2018-01-04 00:03:00
paris-neuvesaintpierre-2  0                             0  ... 2018-01-04 00:04:00
paris-goubet-8            3                             0  ... 2018-01-04 00:11:00
...                                                   ...  ...                 ...
paris-vulpian-24          2                             0  ... 2018-09-04 23:32:00
paris-crimee-8            3                             0  ... 2018-09-04 23:33:00
paris-batignolles-92      2                             0  ... 2018-09-04 23:40:00
paris-gerbert-11          2                             0  ... 2018-09-04 23:48:00
paris-crimee-82           5                             0  ... 2018-09-04 23:56:00

[1528 rows x 13 columns]

##Identify the popular hour of the day that is popular for picking up shared electric car in the city of Paris in the month of April.

In [317]:
#To find out the popular hour for picking up cars we selected the hour with the most negative cumulative values since -ve values means picking
a_df['diff'] =  a_df['Bluecar counter'].diff()
a_df[(a_df['diff'] < 0)].groupby(['hour'])['diff'].sum().sort_values(ascending =True)[:1]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

hour
21   -271.0
Name: diff, dtype: float64

***popular hour for picking is 21:00 hrs***

##What is the most popular hour for returning cars?

In [318]:
#To find out the popular hour for picking up cars we selected the hour with the most +ve cumulative values since +ve values means returning
a_df[(a_df['diff'] > 0)].groupby(['hour'])['diff'].sum().sort_values(ascending =False)[:1]

hour
6    283.0
Name: diff, dtype: float64

***popular hour for returning is 06:00 hrs***

##What station is the post popular, overall, during popular pick hours?

In [320]:
a_df[(a_df['hour']==21)]
a_df[(a_df['diff'] < 0)].groupby(['ID'])['ID'].count().sort_values(ascending =False)[:1]

ID
paris-voltaire-182    7
Name: ID, dtype: int64

***popular station to pick a car during pick hours(21:00 hrs) is :paris-voltaire-182***

##What postcode is most popular for picking Blue Cars? Does the most popular station belong to the postal code?

In [323]:
a_df[(a_df['diff'] < 0)].groupby(['ID','Postal code'])['Postal code'].count().sort_values(ascending =False)[:1]

ID                  Postal code
paris-voltaire-182  75011          7
Name: Postal code, dtype: int64

***Yes,the most popular he postal code belongs to station(paris-voltaire-182 )  ?***